[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
"psycopg2" = "*"
ipython = "*"
httpie = "*"
redgreenunittest = "*"

[packages]
django = "*"
djangorestframework = "*"

[requires]
python_version = "3.6"
