[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
ipython = "*"
httpie = "*"
redgreenunittest = "*"

[packages]
"psycopg2-binary" = "*"
django = "*"
djangorestframework = "*"
gunicorn = "*"
django-heroku = "*"
pylint = "*"

[requires]
python_version = "3.6"
